{{#each this}}
<h1>{{name}}</h1>
<div class="country-card">
    <div class="country-description">
        <p>Capital:  {{capital}}</p>
         <p>Population:  {{population}}</p>
         <p>Languages:</p>      
        <ul>
            {{#each languages}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <div>
        <img src="{{flag}}" alt="flag-{{name}}" width="400">
    </div>
</div>

{{/each}}

